StockScraper/.vs

# Files that can be rebuilt via compilation should be excluded
StockScraper/StockScraper/bin/Debug/*
StockScraper/StockScraper/bin/Release
StockScraper/StockScraper/obj
StockScraper/StockScraper.Tests/bin/Debug/*
StockScraper/StockScraper.Tests/bin/Release
StockScraper/StockScraper.Tests/obj

# Packages should be installed via Nuget
StockScraper/packages

# Files that are specific to the developer's setup
StockScraper/StockScraper/StockScraper.csproj.user

# Leave these files for users that do not want to compile the project themselves
!StockScraper/StockScraper/bin/Debug/StockScraper-AddIn-packed.xll
!StockScraper/StockScraper/bin/Debug/StockScraper-AddIn64-packed.xll